In [1]:
import pandas as pd

In [2]:
df_2015 = pd.read_csv('datasets/data_2015.csv')
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   Diabetes              253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [3]:
df_2020 = pd.read_csv('datasets/data_2020.csv')
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   Diabetes              253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [4]:
df_2015.head()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [5]:
df_2020.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [6]:
from train.pre_processing import *
unifyColNames(df_2015, df_2020)
unifyColOrder(df_2015, df_2020)
classToDigitReplace(df_2020)
df_2020.head()

[INFO] Converting descriptive data to numbers:
	 HeartDisease: {'Yes': 1, 'No': 0}
	 Smoking: {'Yes': 1, 'No': 0}
	 AlcoholDrinking: {'Yes': 1, 'No': 0}
	 Stroke: {'Yes': 1, 'No': 0}
	 DiffWalking: {'Yes': 1, 'No': 0}
	 Sex: {'Other': 0, 'Female': 1, 'Male': 2}
	 Age: {'18-24': 1, '25-29': 2, '30-34': 3, '35-39': 4, '40-44': 5, '45-49': 6, '50-54': 7, '55-59': 8, '60-64': 9, '65-69': 10, '70-74': 11, '75-79': 12, '80 or older': 13}
	 Race: {'Other': 0, 'White': 1, 'Black': 2, 'Asian': 3, 'American Indian/Alaskan Native': 4, 'Hispanic': 5}
	 Diabetes: {'No': 0, 'No, borderline diabetes': 1, 'Yes (during pregnancy)': 2, 'Yes': 3}
	 PhysActivity: {'Yes': 1, 'No': 0}
	 GenHlth: {'Poor': 0, 'Fair': 1, 'Good': 2, 'Very good': 3, 'Excellent': 4}
	 Asthma: {'Yes': 1, 'No': 0}
	 KidneyDisease: {'Yes': 1, 'No': 0}
	 SkinCancer: {'Yes': 1, 'No': 0}
[INFO] Replaced required data.

,HeartDisease,BMI,Smoking,Stroke,Diabetes,PhysActivity,AlcoholDrinking,GenHlth,MentalHealth,PhysHlth,DiffWalking,Sex,Age,Race,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,3,1,0,3,30.0,3.0,0,1,8,1,5.0,1,0,1
1,0,20.34,0,1,0,1,0,3,0.0,0.0,0,1,13,1,7.0,0,0,0
2,0,26.58,1,0,3,1,0,1,30.0,20.0,0,2,10,1,8.0,1,0,0
3,0,24.21,0,0,0,0,0,2,0.0,0.0,0,1,12,1,6.0,0,0,1
4,0,23.71,0,0,0,1,0,3,0.0,28.0,1,1,5,1,8.0,0,0,0

In [7]:
features_selected = selectFeatures(df_2015, labelColName="HeartDisease")
df_2015_fs = df_2015[features_selected]
df_2015_fs.head()

,GenHlth,CholCheck,AnyHealthcare,Age,HighBP,Veggies,PhysActivity,HighChol,Income,DiffWalking,Education,Fruits,PhysHlth,Diabetes,Stroke
0,5.0,1.0,1.0,9.0,1.0,1.0,0.0,1.0,3.0,1.0,4.0,0.0,15.0,0.0,0.0
1,3.0,0.0,0.0,7.0,0.0,0.0,1.0,0.0,1.0,0.0,6.0,0.0,0.0,0.0,0.0
2,5.0,1.0,1.0,9.0,1.0,0.0,0.0,1.0,8.0,1.0,4.0,1.0,30.0,0.0,0.0
3,2.0,1.0,1.0,11.0,1.0,1.0,1.0,0.0,6.0,0.0,3.0,1.0,0.0,0.0,0.0
4,2.0,1.0,1.0,11.0,1.0,1.0,1.0,1.0,4.0,0.0,5.0,1.0,0.0,0.0,0.0